<div>
    <!-- <h1>Welcome {{currentUser.username}}</h1>
    {{currentUser}} -->
    <div class="jumbotron" ng-show="currentUser">
        <div class="row">
            <div class="col-sm-6">
                <h2>Hi! {{currentUser.name}}</h2>
                <h5>You are logged in as {{currentUser.username}}</h5>
                <br>
                <br>
                <button ui-sref="community" type="button" class="btn btn-default">Go to community</button>
                <br>
                <br>
                <button ui-sref="profileSetting" type="button" class="btn btn-primary">Update my profile</button>
            </div>
            <br>
            <div class="col-sm-6">
                <div class="list-group">
                    <h3 class="list-group-item-heading">Your profile</h3>
                    <hr>
                    <span href="#" class="list-group-item">
                        <h5 class="list-group-item-text"><i class="fa fa-user"></i> {{currentUser.name}}</h5>
                        <h5 class="list-group-item-text"><i class="fa fa-map-marker"></i> {{currentUser.location}}</h5>
                        <h5 class="list-group-item-text"><i class="fa fa-birthday-cake"></i> {{currentUser.birthday}}</h5>
                        <h5 class="list-group-item-text"><i class="fa fa-facebook-square"></i> {{currentUser.facebook}}</h5>
                        <h5 class="list-group-item-text"><i class="fa fa-linkedin-square"></i> {{currentUser.linkedin}}</h5>
                        <h5 class="list-group-item-text"><i class="fa fa-globe"></i> {{currentUser.website}}</h5>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="jumbotron" ng-hide="currentUser">
        <h1>Sign up</h1>
        <div class="panel panel-danger" ng-if="logMsg.err">
            <div class="panel-body">
                {{logMsg.err}}
            </div>
        </div>
        <form ng-submit="signUp(newUser)">
            <fieldset class="form-group">
                <label for="formGroupExampleInput">Email</label>
                <input type="email" class="form-control" required id="formGroupExampleInput" ng-model="newUser.username" placeholder="sample@emial.com">
            </fieldset>
            <fieldset class="form-group">
                <label for="formGroupExampleInput2">password</label>
                <input type="password" class="form-control" required id="formGroupExampleInput2" ng-model="newUser.password" placeholder="password">
            </fieldset>
            <button type="submit" class="btn btn-primary">Sign up for free</button>
        </form>
    </div>
</div>
