body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
.list-group-item:hover{
    box-shadow: 0px 1px 15px -2px rgba(0,0,0,0.2);
    transform: scale(1.02);
    transition: .1s all ease-in-out;
}
.logo {
    height: 400px;
    z-index: -1;
    position: absolute;
    bottom: -150px;
    right: -50px;
    opacity: 0.1;
}
